*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --color-principal: #96BD7D;
}

.container-redes-sociales a {
  font-size: 2em;
  color: #000;
}

.container-redes-sociales a:hover {
  color: #3b3b3b;
}

footer {
  background: var(--color-principal);
}

.navbar {
  padding: 20px;
  background: var(--color-principal);
}

.map {
  width: 100%;
  height: 300px;
}

h3 {
  text-align: center;
  margin: 50px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
}

.loader-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  position: absolute;
  top: 0;
  z-index: 3;
  backdrop-filter: blur(10px);
}

.drop-zone {
  border: 2px dashed #0d6efd;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  color: #6c757d;
  cursor: pointer;
  height: 400px;
  margin: 40px;
}

.drop-zone.drag-over {
  background-color: #e9ecef;
  border-color: #0d6efd;
}

.wrapper-foto {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-foto {
  border: 1px solid #ddd; 
  padding: 10px;
  text-align: center;
}

.general-container-foto {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.img-users {
  width: 150px;
  height: 150px;
}

#foto-user-header {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}