*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --color-principal: #96BD7D;
}

.container-redes-sociales a i {
  font-size: 2em;
  color: #000;
}

.container-redes-sociales a i:hover {
  color: #3b3b3b;
}

footer {
  background: var(--color-principal);
}

.navbar {
  padding: 20px;
  background: var(--color-principal);
}

.map {
  width: 100%;
  height: 300px;
}